{
    "outputs": {
        "vms": {
            "value": [
                {
                    "ip_address": "{{ hostvars['mcm'].ansible_host }}",
                    "name": "mcm"
                }
            ]
        }
    } 
}